.main-form {
    display: grid;
    grid-template-areas:
    "formA formA formA"
    "formB formB formB"
    "formC formC formC"
    "formD formD formD"
    "formD formD formD" 
    ;
    margin: auto;
    grid-row-gap: 20px;

}

.form-a {
    grid-area: formA;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    grid-column-gap: 20px;
    margin: auto;
}

.form-a > input{
    width:240px;
}


.form-b {
    grid-area: formB;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row;
    margin: auto;
    grid-column-gap: 20px;
}

.form-b > input{
    width:240px;
}


.form-c {
    grid-area: formC;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    margin: auto;   
    grid-column-gap: 20px;
}

.form-c > input{
    width:240px;
}

.form-d {
    grid-area: formD;
    display: flex;
    grid-column: 2 / 3;
    grid-row: 4 / 9;
    gap: 20px;
    flex-direction: column; 
    margin: auto;  
}

.form-d  > textarea{
    width: 506px;
    height: 100px;
}

.form-d  > button{
    width: 100px;
    margin: auto;
}


/*Form 2*/
.my-form2 {
    position: relative;
    display: block;
    flex-direction: row;
    justify-items:flex-start;
    margin: 25px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 10px 10px;
    width: 500px;
    height: 210px;
}

#my-area2 {
    position: relative;
    width: 380px;
    height: 100px;
    left: 52px;
    top: 10px;
} 

#my-badge {
    position: relative;
    display: block;
    top: 46px;
    left: 25px;
    border: 1px solid grey;
    border-radius: 5px 5px;
    width: 550px;
    height: 24px;
    background-color: grey;
}

#my-label1 {
    position: relative;
    display: block;
    left: 50px;
}

#my-label2 {
    position: relative;
    display: block;
    left: 285px;
    bottom: 20px;
    width: 200px;
}

#my-label3 {
    position: relative;
    display: block;
    left: 50px;
    bottom: 5px;
    width: 200px;
}

#my-label4 {
    position: relative;
    display: block;
    left: 285px;
    bottom: 25px;
    width: 200px;  
}

#my-label5 {
    position: relative;
    display: block;
    left: 50px;
    bottom: 5px;
    width: 200px;
}

#my-label6 {
    position: relative;
    display: block;
    left: 265px;
    bottom: 25px;
    width: 200px;
}